*,
*::before
*::after {
  box-sizing: border-box;
}
body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-top-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.top-page {
  border-bottom: 1px solid #e7e9fc;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.offer-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.offer-card {
  border: 1px solid #e7e9fc;
  padding: 32px 16px;
  border-top: none;

}
.offer-detail-four-section {
  margin-bottom: 8px;
}
.basic-switch {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #fff;
  background-color: #4d5ae5;
  text-transform: capitalize;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}
.basic-switch:hover,
.basic-switch:focus {
  background-color: #404bbf;
}

.basic-switch:active {
  background-color: #404bbf;
}
.contact-list {
  font-style: normal
}

.left-navigation-list {
  display: flex;
  padding: 24px 0;
  gap: 40px;
}

.right-navigation-list {
  display: flex;
  padding: 24px 0;
  gap: 40px;
}
.value-section {
 padding: 120px 0;
}

.value-list {
  display: flex;
  gap: 24px;
}

.value-item {
  width: calc((100% - 72px) /4);
}

.crew-list {
  display: flex;
  gap: 24px;
}

.offer {
  width: calc((100% - 48px) /3);
}

.top-item {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-style: normal;
  padding: 24px 0;
  text-transform: capitalize;

}

.top-item:hover,
.top-item:focus {
    color: #404bbf;
}

.top-item:active {
    color: #404bbf;
}

.logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
  display: flex;
}

.logo-bottom {
  color: #f4f4fd;

}
.link-logo {
  display: inline-block;
  margin-bottom: 16px;
  text-transform: capitalize;
}


p::first-letter {
  text-transform: capitalize;
}

.detail-second-section {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;
  font-size: 16px;
}

.link .logo-top {
color: #2e2f42;
}

.logo-bottom {
  display: inline-block;
  margin-bottom: 16px;
}

.link .logo-bottom {
  color: #f4f4fd;
}
/* Header address list styles  */



.contact-link {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contact-link:hover,
.contact-link:focus {
  color:#404bbf;
  
}

.contact-link:active {
  color:#404bbf;
  
}
/* main section styles */

.main-section {
  background-color: #2e2f42;
  text-align: center;
  padding: 188px 0;
}

.main-title {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.bottom-description {
  color: #f4f4fd;
  display: block;
  flex-wrap: wrap;
  width: 264px;
}

.section-headline {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.visually-hidden {
  position:absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  
}

.list-titles {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 8px;


}
.crew-list-item {
  background-color: #ffffff;
  text-align: center;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-name {
  padding: 32px 0;
}
ul p {
  color: #434455;
  font-size: 16px;
  letter-spacing: 0.02em;
}





/* Offer section styles */
.list {
  list-style: none;

}

/* Footer styles */




.team-section {
  background-color: #F4F4FD;

}

.team-detail-section {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
  text-align: center;
}
.page-bottom {
  background-color: #2e2f42;
  height: 312px;
  padding: 100px 0;
}