:root {
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --slate: #434455;
  --white: #ffffff;
  --ocean: #404bbf;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--slate);
  background-color: var(--white);
}
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* Headlines and paragraphs styles */

.section-headline {
  font-size: 36px;
 
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--navyblue);
}

.card-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  text-transform: capitalize;
}

.card-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-transform: capitalize;
 
}

/* Header navigation styles */
.page-leader {
  
}

.link-logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.54px;
  font-weight: 800;
  color: var(--iris);

  text-transform: uppercase;
  text-decoration: none;
}

.link-logo-top {
  color: var(--navyblue);
}

.nav-list-item-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  text-decoration: none;
  text-transform: capitalize;
}

.nav-list-item-link:hover,
.nav-list-item-link:focus {
  color: var(--ocean);
}

/* Header address list styles  */

.dress-list {
  font-style: normal;
  text-decoration: none;
}

.leader-dress-list-item {
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.leader-dress-link2{
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  text-decoration: none;
  
}


.leader-dress-link2:hover,
.leader-dress-link2:focus {
  color: var(--ocean);
}

/* main section styles */

.main-section {
  background-color: var(--navyblue);
}

.main-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white);
  text-align: center;
  text-transform: capitalize;
}

.basic-switch {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
  color: var(--white);
  background-color: var(--iris);
  border: none;
  text-transform: capitalize;
}

.basic-switch:hover,
.basic-switch:focus {
  background-color: var(--ocean);
}

/* Advantages section styles */

.value-section {
  background-color: var(--white);
}

/* Services section styles */

.services-section {
  background-color: var(--white);
}

/* Team section styles */

.team-section {
  background-color: var(--cloud);
}

.team-list-item {
  background-color: var(--white);
}

/* Footer styles */

.page-footer {
  background-color: var(--navyblue);
}

.link-logo-bottom {
  color: var(--cloud);
}

.footer-paragraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
}

/* -------- PORTFOLIO PAGE -------- */
.bttn-list {list-style: none;
}
.offer-list  {list-style: none;
}
.bttn {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
  color: var(--iris);
  background-color: var(--cloud);
  border-radius: 4px;
  border: 1px solid var(--cornflower, #E7E9FC); 
  text-transform: capitalize;
  text-shadow: 1px
;
}

.bttn:hover,
.bttn:focus {
  color: var(--white);
  background-color: var(--ocean);
  border:1px solid var(--ocean);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10); 
}

.offer-item {
  border: 1px solid var(--cornflower);
  background: var(--white);
}
